.image{
    width: 5in;
    height: 5in;
}

.grid{
    margin-left: 1cm;
    display: inline-grid;


    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1in 1fr ;
}
.grid p{
    background-color: lightblue;
    border: 5px solid lightcoral;
}

h1{
        color: teal;
}
body{
    background-color: aquamarine;
}
